*~
*\.ZILESAVE
*\.tmp
*\.log
*\.out
/\.classpath
/\.project
/\.settings
/\.idea
/\.idea_modules
/\.lib
*\.iml
\.classpath_nb
\.ensime
\.ensime_lucene
\.ensime_cache/
target/
dist/
lib/
tmp/
logs/
project/project/
