language: scala
branches:
  only:
    - master
    - /^v\d+(\.\d+)+$/
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - npm install -g apollo@2.31.0
script:
  - sbt +tests/test
  - sbt ";set scalaJSStage in Global := FullOptStage; +tests/test"
